nav  {
    border-bottom: 1px solid #bdc3c7;
}
nav .first {
    border-left: 1px solid #bdc3c7;
}
nav .nav-item {
    border-right: 1px solid #bdc3c7;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
}
nav .nav-item:hover {
    background-color: #ecf0f1;
}

.auth-box {
    margin-top: 100px;
    overflow: hidden;
}

.watch-time {
    font-size: 3.5em;
    font-weight: bold;
}

.ct-label {
    font-size: 2em;
    fill: rgba(255,255,255,.8);
}

.chart {
    padding: 20px 0 100px 0;
}

#movies {
    font-size: 0;
}
#movies p {
    font-size: 14px;
}
#movies img {
    display: inline-block;
    cursor: pointer;
    width: 12.5%;
}

#pagination {
    padding: 20px 0;
}

.error {
    color: #c0392b;
}